.body {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  & input {
    padding: 0.75rem;
    border: none;
    outline: none;
  }
  & input:not([type="submit"]) {
    width: 100%;
  }
  & button {
    position: absolute;
    background-color: rgb(84, 5, 158);
    border: none;
    width: 24px;
    height: 24px;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    & svg {
      fill: #fff;
    }
  }
  .error {
    position: absolute;
    padding: 0 0.5rem;
    color: #fff;
    background-color: crimson;
    transform: translateY(120%);
    border-radius: 4px;
    width: 100%;
    font-size: 0.9rem;
    bottom: 0;
    left: 0;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      border: {
        left: 5px solid transparent;
        right: 5px solid transparent;
        bottom: 7px solid crimson;
      }
      transform: translateY(-70%);
      top: 0;
      left: 1.3rem;
    }
  }
  .invalid {
    box-shadow: 0 0 10px crimson;
  }
}
