.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  font-weight: 700;
  transition: all 0.6s ease-in-out 0s;
  & span {
    position: relative;
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    &::first-letter {
      text-transform: uppercase;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s ease-in-out 0s;
      width: 0;
      height: 2px;
      background-color: red;
      top: 50%;
    }
  }
  &.done {
    color: #444;
    text-decoration: line-through 2px;
  }
  & .btn__container {
    display: flex;
    position: relative;
    top: 0;
    & > * {
      padding: 0.5rem;
      border: none;
      height: 100%;
      &:first-child {
        background-color: rgb(123, 27, 212);
      }
      &:last-child {
        background-color: rgb(84, 5, 158);
      }
    }
  }
  & svg {
    fill: #fff;
  }
}
