.container {
  height: 100vh;
  width: 100%;
  max-width: 320px;
  padding: 0 10px;
  margin: auto;
}

.main__container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
}
